body {
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: darkblue;
  text-align: center;
}

.dashboard {
  display: flex;
  border: 1px black solid;
  width: 35%;
}

.dashboard p{
  margin: 5px;
  width:50%
}