body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: darkblue;
  text-align: center;
}

.form-container h2{
  text-align: center;
  font-size: 1.25rem;
}

.feedback{
  min-height: 2rem;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

.dashboard {
  display: flex;
  border: 1px black solid;
  width: 35%;
}

.dashboard p{
  margin: 5px;
  width:50%
}